{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>About US</h1>
        <p1 class="lead">We are give banking service like online payments, loans, credits and debits.</p1>
        <br>
        <p2>Our technology is fast and robust</p2>
        <h3>Our team</h3>
        <p1>Sourav Das, Eashwar Chaitanya, Venella, Vishnupriya</p1>
    </div>

{% endblock %}