{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}}</small></h1>

  <div class="jumbotron text-center">
    <h1>Your account balance</h1>
    <h3>{{result}}</h3>
</div>

{% endblock %}