{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Enter amount</h1>
        <form action="" method="POST">
            <div class="form-group">
              <label>Amount</label>
              <input type="text" name="amount" class="form-control" value={{request.form.amount}}>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

{% endblock %}