{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}}</small></h1>

  <div class="jumbotron text-center">
    <h1>Our Services</h1>
    <a class="btn btn-primary" href="/account">Account Balance</a>
    <a class="btn btn-primary" href="/loan">Loans</a>
    <a class="btn btn-primary" href="/payments">Payments</a>
  </div>

{% endblock %}