{% extends 'layout.html' %}

{% block body %}
    
    <div class="jumbotron text-center">
        <h1>Welcome to Big Banking Corporation (BBC)</h1>
        <p1 class="lead">We got it all big!!</p1>
    </div>
    <img src="static/8.jpg" width="100%">
{% endblock %}