{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Pay Someone</h1>
  <form action="" method="POST">
    <div class="form-group">
      <label>Userid of receiver</label>
      <input type="text" name="userid" class="form-control" value={{request.form.userid}}>
    </div>
    <div class="form-group">
      <label>Amount</label>
      <input type="text" name="amount" class="form-control" value={{request.form.amount}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
{% endblock %}