{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Payment Services</h1>
    <a class="btn btn-primary" href="/pay">Pay someone</a>
    <a class="btn btn-primary" href="/add">Add balance</a>
  </div>

{% endblock %}